<h1 class="text-3xl">Contacto</h1>
<hr class="my-2" />
<section>
  <p class="mb-4">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus aliquid
    quod eius sequi, libero iste sit fuga incidunt unde numquam ratione qui odit
    nemo voluptatem delectus dolorem consequatur hic. Numquam! Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Possimus aliquid quod eius sequi,
    libero iste sit fuga incidunt unde numquam ratione qui odit nemo voluptatem
    delectus dolorem consequatur hic. Numquam! Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Harum odit, unde, pariatur adipisci laborum perferendis
    soluta tempora dolor, libero fugit est necessitatibus minima sed facilis
    ducimus? Similique reiciendis quos adipisci?
  </p>
</section>
